.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #49adf0;
    padding: 0 1rem;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-image {
    height: 32px;
}

.nav-links {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:last-child {
    margin-right: 10px;
}

.nav-links a:hover {
    color: #074f80;
}
